* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.button {
  position: relative;
  border: none;
  outline: none;
  padding: 12px 38px 12px 16px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}

.button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 80%;
  top: 35%;
  background-image: url(../img/button.svg);
  background-repeat: no-repeat;
}

.button:hover {
  transform: scale(1.1);
  transition: .3s;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

li {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.header__middle {
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
}

.header__bottom {
  padding: 30px 0;
}

.contact {
  display: flex;
}

.contact__item {
  margin-right: 18px;
}

.contact__link {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.contact__link:hover {
  color: #6A983C;
  transition: 0.3s;
}

.nav__menu {
  display: flex;
}

.nav__item {
  margin-left: 18px;
}

.nav__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
}

.nav__link:hover {
  opacity: 0.6;
}

.del {
  width: 100%;
  height: 2px;
  background-color: black;
  opacity: 5%;
}

.search {
  display: flex;
  padding: 10px 16px;
  background-color: #f9f9f9;
  max-height: 42px;
  border-radius: 12px;
}

.search__list {
  max-height: 23px;
}

.search__list.is-active li {
  display: block;
}

.search__item {
  display: none;
}

.search__title {
  position: relative;
  cursor: pointer;
}

.search__title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 110%;
  background-image: url(../img/befor.svg);
  background-repeat: no-repeat;
}

.search__input {
  padding: 2px 0 2px  24px;
  margin-left: 44px;
  border: none;
  outline: none;
  background-color: transparent;
  border-left: 2px solid #d1d1d1;
  max-width: 270px;
  color: #d1d1d1;
}

.search__btn {
  margin-left: 60px;
  border: none;
  outline: none;
  background-color: transparent;
}

.icon {
  display: flex;
  align-items: center;
}

.icon__shop {
  position: relative;
  margin-left: 36px;
}

.number {
  position: absolute;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  background: #E5704B;
  border-radius: 100%;
  padding: 1px 4px;
  top: 49%;
  left: -23%;
  color: white;
}

.bottom__menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  background-color: #f9f9f9;
}

.bottom__title {
  position: relative;
}

.bottom__title::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 45%;
  left: 110%;
  background-image: url(../img/befor.svg);
  background-repeat: no-repeat;
}

.hero {
  margin: 64px 44px;
}

.hero__row {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
  cursor: pointer;
}

.hero__title:hover {
  opacity: .6;
  transition: .3s;
}

.hero__list {
  margin-bottom: 48px;
}

.hero__item {
  margin-bottom: 12px;
}

.hero__link {
  font-family: "Open Sans";
  color: #6A983C;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.hero__link:hover {
  opacity: 0.7;
}

.banner {
  border-radius: 12px;
  position: relative;
  background-color: #3c987694;
  width: 420px;
  height: 280px;
}

.banner__images {
  border-radius: 12px;
  position: absolute;
  z-index: 1;
}

.banner__link {
  position: absolute;
  margin: 48px 0 0 33px;
  z-index: 2;
}

.banner__suptitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  margin-bottom: 8px;
  z-index: 3;
  cursor: pointer;
}

.banner__suptitle:hover {
  opacity: .7;
  transition: .3s;
}

.banner__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
  cursor: pointer;
  width: 300px;
}

.banner__title:hover {
  opacity: .7;
  transition: .3s;
}

.banner__button {
  position: absolute;
  margin: 201px 0 0 32px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #6A983C;
  border-radius: 12px;
  padding: 12px 38px 12px 16px;
  z-index: 10;
}

.banner__button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 80%;
  top: 35%;
  background-image: url(../img/button.svg);
  background-repeat: no-repeat;
}

.banner__button:hover {
  background-color: #6A983C;
  transition: .6s;
  color: #ffff;
  z-index: 10;
}

.products {
  margin: 64px 44px;
}

.products__row {
  display: flex;
}

.products__list {
  margin-bottom: 48px;
}

.products__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 12px;
  cursor: pointer;
}

.products__item {
  margin-bottom: 12px;
}

.products__link {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}

.product {
  border: 1px solid black;
  border-radius: 12px;
  max-width: 270px;
  margin-left: 40px;
}

.product__menu {
  position: relative;
  padding: 16px;
}

.product__discount {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  padding: 0 8px;
  border-radius: 12px;
  background-color: #F4F8EC;
  margin: 12px 0 0 12px;
}

.product__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin: 16px 0;
}

.product__suptitle {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
}

.product__price-buy-now {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.product__newprice--amount {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
}

.product__oldprice--amount {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.product__button {
  padding: 7px 12px;
  border: 2px solid #46760A;
  background-color: #6A983C;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  font-size: 15px;
  line-height: 22px;
  color: #ffff;
}
