$color-darkGray:  #202336;
$color-black: #000000;
$color-orange: #FB8F1D;
$color-whiteGray:#f9f9f9;
$color-spaceGray: #A9A9A9;
$color-white: #ffff;
$color-gray: #d1d1d1;
$color-Green: #6A983C;


$font-Poppins:'Poppins', sans-serif;
$font-Opensans:'Open Sans';